div {
  box-sizing: border-box;
  -webkit-box-sizing: 33.3%;
}

.main {
  padding-bottom: 160px;
  width: 100%;
}

.main .index_header {
  height: 150px;
}

.main .index_header .top_bar {
  width: 100%;
  height: 100%;
  background-image: url(./public/header_bg.png);
  text-align: center;
}

.main .index_header .top_bar .title {
  background: url(./public/title.png) no-repeat right center;
  display: inline-block;
  height: 100%;
  width: 200px;
  margin-left: 83px;
}

.main .index_header .top_bar .location {
  display: inline-block;
  line-height: 150px;
  vertical-align: text-bottom;
  font-size: 24px;
  color: #fff;
  margin-left: 16px;
}

.main .index_header .top_bar .location img {
  vertical-align: middle;
}

.main .top_menu_list {
  height: 100px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 40px;
}

.main .top_menu_list a {
  line-height: 100px;
  padding: 0 24px;
  margin-right: 12px;
}

.main .top_menu_list a.active {
  color: #8f82bc;
  position: relative;
}

.main .top_menu_list a.active::after {
  content: ' ';
  display: block;
  background: #8f82bc;
  width: 40px;
  height: 8px;
  position: absolute;
  right: 50%;
  margin-right: -20px;
  margin-top: -8px;
}

.main .new_item {
  margin: 0px 24px;
}

.main .new_item a{
  padding: 36px 0px;
  display: block;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0;
}

.main .new_item a .content {
  display: inline-block;
  width: 66%;
  padding-right: 56px;
}

.main .new_item .cover_thr {
  margin-top: -16px;
  margin-bottom: 16px;
}

.main .new_item .cover_large {
  overflow: hidden;
  margin-top: -16px;
  margin-bottom: 16px;
}

.main .new_item .cover_large img {
  width: 100%;
}

.main .new_item .cover_thr ul {
  font-size: 0px;
}

.main .new_item .cover_thr ul li {
  display: inline-block;
  -webkit-box-sizing: 33.3%;
  width: 33.3%;
  box-sizing: border-box;
  overflow: hidden;
  padding-right: 2px;
}

.main .new_item .cover_thr ul li img {
  width: 100%;
}

.main .new_item a .cover {
  display: inline-block;
  width: 33.3%;
  height: 150px;
  overflow: hidden;
}

.main .new_item a .cover img {
  width: 100%;
}

.main .new_item h3 {
  font-size: 40px;
  margin-bottom: 24px;
}

.main .new_item .meta {
  font-size: 24px;
  color: #a0a0a0;
  position: relative;
}

.main .new_item .meta .tag {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #8f82bc;
  border-radius: 5px;
  margin-right: 16px;
}

.main .new_item .meta .tag.hot {
  background: #8f82bc;
  color: #fff;
}

.main .new_item .meta .count {
  position: absolute;
  right: 24px;
  bottom: 8px;
}

.main .new_item .meta .count img {
  margin-right: 8px;
}

.main .bottom_nav_bar {
  height: 110px;
  font-size: 0px;
  border-top: 1px solid #e5e5e5;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}

.main .bottom_nav_bar ul li {
  display: inline-block;
  width: 25%;
  font-size: 24px;
  text-align: center;
  font-weight: bolder;
  padding: 16px;
  box-sizing: border-box;
  color: #707070;
}

.main .bottom_nav_bar ul li.active {
  color: #8f82bc;
}

.main .bottom_nav_bar ul li span {
  display: block;
}
