<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>我的邮箱</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><p>网站备案号：{{ site.beianhao }}</p></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.zhihu.username %}
          <li>
            {% include icon-zhihu.html info=site.zhihu %}
          </li>
          {% endif %}
        </ul>
      </div>

      <!-- <div class="footer-col footer-col-3">
        <p>网站备案号：{{ site.beianhao }}</p>
      </div> -->
    </div>
    
  </div>

</footer>
