
.wrapper .p5{
	background: url(img/p5_bg.png);
	-webkit-background-size: cover;
	background-size: cover;
	z-index: -2;
	display: none;
}

.wrapper .p5  .info ul{
	margin: 4% 0 0 4%;
}

.wrapper #showp5  .info ul li:nth-child(1){
	animation: fontAnim1 1s linear 1 forwards;
	-webkit-animation: fontAnim1 1s linear 1 forwards;
}

.wrapper .p5 .info ul li:nth-child(1){
	opacity: 0;
	font-size: 4vh;
	color: #fff;
	-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-weight: lighter;
}

.wrapper #showp5 .info ul li:nth-child(2),
.wrapper #showp5  .info ul li:nth-child(3){
	animation: fontAnim1 1s linear 1 1.6s forwards;
	-webkit-animation: fontAnim1 1s linear 1 1.6s forwards;
}

.wrapper #showp5 .clouds1{
	animation: clouds1Anima 10s linear 1 3.8s forwards;
	-webkit-animation: clouds1Anima 10s linear 1 3.8s forwards;
}

.wrapper #showp5 .hand{
	animation: handshowTop 0.5s ease-out 1 3s  forwards;
	-webkit-animation: handshowTop 0.5s ease-out 1 3s  forwards;
}

.wrapper .p5  .info ul li:nth-child(2),
.wrapper .p5  .info ul li:nth-child(3){
	font-size: 2vh;
	color: #fff;
	opacity: 0;
	font-weight: lighter;
	text-indent: 2.7%;
}

.wrapper #showp5 .info .bd{
	animation: fontAnim1 1s linear 1 0.8s forwards;
	-webkit-animation: fontAnim1 1s linear 1 0.8s forwards;
}

.wrapper #showp5 .cloudsbg{
	animation: cloudsbg 1s ease-in-out 1 3.2s forwards;
	-webkit-animation: cloudsbg 1s ease-in-out 1 3.2s forwards;
}

.wrapper #showp5 .cloudsbg img{
	animation: intoLinkScale 1s ease-in-out 5 4s forwards;
	-webkit-animation: intoLinkScale 1s ease-in-out 5 4s forwards;
}

.wrapper #showp5 .icons ul li:nth-child(1){
	animation: phoneAnima 4s ease-out 1 3.5s forwards;
	-webkit-animation: phoneAnima 4s ease-out 1 3.5s forwards;
}
.wrapper #showp5 .icons ul li:nth-child(2){
	animation: penAnima 4s ease-out 1 3.5s forwards;
	-webkit-animation: penAnima 4s ease-out 1 3.5s forwards;
}
.wrapper #showp5 .icons ul li:nth-child(3){
	animation: flAnima 4s ease-out 1 3.5s forwards;
	-webkit-animation: flAnima 4s ease-out 1 3.5s forwards;
}

.wrapper #showp5 .icons ul li:nth-child(4){
	animation: emailAnima 4s ease-out 1 3.5s forwards;
	-webkit-animation: emailAnima 4s ease-out 1 3.5s forwards;
}

.wrapper .p5 .info .bd{
	height: 5%;
	opacity: 0;
	width: 0.5%;
	position: absolute;
	top: 8%;
	left: 5%;
	background: #FFF;
}

.wrapper .p5 .icons ul{
	text-align: center;
	text-indent: -9%;
	margin-top: 34%;	
}

.wrapper .p5 .icons ul li{
	display: inline-block;
	width: 15%;
}

.wrapper .p5 .icons ul li:nth-child(4){
	z-index: 2;
	position: absolute;
}

.wrapper .p5 .icons ul li img{
	width: 100%;
	max-width: 60px;
}


.wrapper .p5 .mainshow .cloudsbg {
	width: 88%;
	position: absolute;
	top: 24%;
	opacity: 0;
	margin-left: 3%;
}

.wrapper .p5 .mainshow .hand{
	width: 58%;
	position: absolute;
	top: 29%;
	opacity: 0;
	margin-left: 21%;
}

.wrapper .p5 .mainshow .clouds1{
	width: 21%;
	position: absolute;
	top: 54%;
	margin-left: 12%;	
}

@-webkit-keyframes 'handshowTop' {
	0%{
		opacity: 0;
		-webkit-transform: translateY(-800px);
	}

	100%{
		opacity: 1;
		-webkit-transform: translateY(0px);
	}
}

@-webkit-keyframes 'phoneAnima'{
	0%{
		-webkit-transform: translate(0px);
	}

	1%{
		-webkit-transform: translate(-20px,55px);
	}

	100%{
		-webkit-transform: translate(-30px,85px);
	}
}

@-webkit-keyframes 'penAnima'{
	0%{
		-webkit-transform: translate(0px);
	}

	1%{
		-webkit-transform: translate(-8px,55px);
	}

	100%{
		-webkit-transform: translate(0px,85px);
	}
}

@-webkit-keyframes 'emailAnima'{
	0%{
		-webkit-transform: translate(0px);
	}

	1%{
		-webkit-transform: translate(8px,35px);
	}

	100%{
		-webkit-transform: translate(16px,85px);
	}
}


@keyframes 'handshowTop' {
	0%{
		opacity: 0;
		transform: translateY(-800px);
	}

	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes 'phoneAnima'{
	0%{
		transform: translate(0px);
	}

	1%{
		transform: translate(-20px,55px);
	}

	100%{
		transform: translate(-30px,85px);
	}
}

@keyframes 'penAnima'{
	0%{
		transform: translate(0px);
	}

	1%{
		transform: translate(-8px,55px);
	}

	100%{
		transform: translate(0px,85px);
	}
}

@keyframes 'emailAnima'{
	0%{
		transform: translate(0px);
	}

	1%{
		transform: translate(8px,35px);
	}

	100%{
		transform: translate(16px,85px);
	}
}